// Elements
$navbar-height: 60px;
$sidebar-width: 240px;

// Breakpoints
$viewport-sm: 640px;
$viewport-md: 768px; // Mobile layout breakpoint
$viewport-lg: 1024px;
$viewport-xl: 1280px;
$viewport-2xl: 1536px;

// Fonts
$font-family-base: "Inter", Helvetica, Arial, sans-serif;
$font-family-monospace: "Fira Mono", Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
