# These owners will be the default owners for everything in
# the repo. They will be requested for review whenever someone
# opens a PR, unless a later match takes precedence.
* @adamdehaven @ValeryG @jillztom

# Renovate bot auto-merges
pnpm-lock.yaml @kongponents-bot @adamdehaven @ValeryG @jillztom
package.json @kongponents-bot @adamdehaven @ValeryG @jillztom
/packages/*/package.json @kongponents-bot @adamdehaven @ValeryG @jillztom

# Component CLI
/cli @adamdehaven

# Core UI Team
/packages/core @adamdehaven @ValeryG @jillztom
/packages/poc-dynamic-sidebar @adamdehaven
